footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 90px;
  background-color: var(--color-primary); 
  margin-top: 0;
}


footer .footer-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

footer .footer-section p {
  font-size: 30px;
  color: #0E2050E0;
  font-weight: bold;
  
}

footer .icones {
  display: flex;
  gap: 15px;       
  align-items: center;
}


footer .icones i {
  font-size: 24px;
  color: #0E2050E0;
  cursor: pointer;
  transition: transform 0.2s;
}

footer .icones i:hover {
  transform: scale(1.2);
}

@media (max-width: 600px) {
  footer {
    flex-direction: column;
    gap: 15px;
    text-align: center;
  }

  footer .footer-section {
    align-items: center;
  }
}
